@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import '~react-phone-input-2/lib/style.css';

body {
	background: rgb(3, 0, 57);
	background: linear-gradient(
		90deg,
		rgba(3, 0, 57, 1) 0%,
		rgb(12, 0, 62) 30%,
		rgba(31, 33, 69, 1) 100%
	);
	color: #fff;
}

select {
	/* Remove default styling */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Hide scrollbar */

.side-bar::-webkit-scrollbar {
	display: none;
}

.user-heder::-webkit-scrollbar {
	display: none;
}

/* Register CSS */
.register-wrapper {
	background: rgb(3, 0, 57);
	background: linear-gradient(
		90deg,
		rgba(3, 0, 57, 1) 0%,
		rgb(12, 0, 62) 30%,
		rgba(31, 33, 69, 1) 100%
	);
}

/* Button CS */
.bg-btn {
	background-image: linear-gradient(to right, #1fffa3, #8c47f5);
}

.bg--gradient {
	background-image: linear-gradient(
		to right,
		rgba(31, 255, 163, 0.3),
		rgba(140, 71, 245, 0.3)
	);
	padding-bottom: 5px;
}

/* Text Gradient */
.gradient-text {
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to right, #1fffa3, #8c47f5);
	-webkit-background-clip: text;
	background-clip: text;
}

/* Referral CSS */
.referral-wrapper {
	background-image: url('/images/referrals/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*End Referral CSS */

/* Hero Section CSS */
.hero-wrapper {
	background-image: url('/images/bg/bg_4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.user-info-wrapper {
	background-image: url('/images/bg/bg_5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Start Glob css */
.globe-wrapper {
	background-image: url('/images/mining/hand.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
/* End Glob css */
